{% extends "base.html" %}
{% load static %}

{% block content %}
    

    <main>
        {% if category %}
        <h2>Products in {{ category.name }}</h2>
        <ul>
            {% for product in products %}
                <li>{{ product.name }} - {{ product.price }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'collection' %}">Back to all collections</a>
    {% else %}
        <h2>Browse All Collections</h2>
        <ul>
            {% for cat in categories %}
                <li><a href="{% url 'collection' cat.slug %}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    </main>
{% endblock %}
    